body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#arka{
    text-align: center;
    background-color: turquoise;
    height: 75vh;
    font-weight: bolder;
    font-size: 3vw;
    position: relative;
}

#kale1{
    margin-left: 20%;
    float: left;
    background-color: tomato;
    height: 40vh;
    width: 15vw;
    position: absolute;
    bottom: 0;
}
#kale2{
    margin-left: 60%;
    background-color: rgb(71, 172, 255);
    height: 40vh;
    width: 15vw;
    position: absolute;
    bottom: 0;
}

#kart_arka{
    background-color: greenyellow;
    height: 25vh;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cards-parent{
    background-color: darkkhaki;
    height: 17vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.box{
    
    text-align: center;
    display: flex;
    align-items: center;
    width: 5vw;
    height: 12vh;
}

#card1{
    background-color: red;
}
#card2{
    background-color: orange;
}
#card3{
    background-color: yellow;
}
#card4{
    background-color: green;
}
#card5{
    background-color: blue;
}
#card6{
    background-color: black;
}
#card7{
    background-color: white;
}

#info1-list{
    margin: 1vw;
    text-align: left;
    list-style-type: none;
    margin-top: 120px;
    padding: 0;
}
#info1{
    font-size: 1vw;
    margin-top: 10vh;
    height: 40vh;
    width: 10vw;
    background-color: darkgray;
    float: left;
}
#info2{
    margin-top: 10vh;
    float: right;
    height: 40vh;
    width: 10vw;
    background-color: darkcyan;
}